* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../img/cursor-micro.png'), auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* html, body { height:100%; } */

body {
    background-image: url("../img/sfondo.jpg");
    background-size: cover;
    font-family: 'Ubuntu Mono', monospace;
}

@media screen and (max-width: 420px) {
    body {
        background-image: url("../img/sfondo-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.body-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    padding: 30px;
    height: 100%;
    overflow: hidden;
}

.shell {
    height: 100%;
    padding: 30px;
    border: 2px solid #00ff00;
    background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 420px) {
    .container {
        padding: 25px 15px;
    }
    .shell {
        padding: 15px;
    }
}

a {
    color: #00ff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

ol {
    padding-left: 37px;
    list-style-type: decimal-leading-zero;
    color: #00ff00;
    font-size: 20px;
}

@media screen and (max-width: 420px) {
    ol {
        font-size: 25px;
        padding-left: 50px;
    }
}

li {
    margin: 2px 0;
}
